::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}            
::-webkit-scrollbar-track {
    background-color: rgb(32, 40, 48);
}
::-webkit-scrollbar-track-piece {
    background-color: rgb(18, 22, 26);
}
::-webkit-scrollbar-thumb {
    height: 25%;
    background-color: rgb(32, 40, 48);
    border: 1px rgb(18, 22, 26) solid;
}
::-webkit-scrollbar-corner {
    background-color: rgb(32, 40, 48);
}

.bottom-bar-home {
    position: fixed;
    bottom: 20px;
    left: 50px;
    right: 50px;
    height: 70px;
    display: flex;
    z-index: 1;
}
.bevel {
    overflow:hidden;
    clip-path: polygon(
        0 10%,
        10% 0,
        90% 0,
        100% 10%,
        100% 90%,
        90% 100%,
        10% 100%,
        0% 90%,
        0% 10%);
}

.player-head {
    display: block;
    position: relative;
    margin: auto 30px;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: all 0.3s ease;
    border-radius: 5px;
    border-color: #3FDFE5;
    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .25rem rgba(255, 255, 255, 0.5),
        0 0 2rem #0FA0DA,
        inset 0 0 1rem #0fa1da81,
        0 0 4rem #0FA0DA,
        inset 0 0 2rem #0fa1da7e;
}

.player-head:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
    box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .25rem rgba(255, 255, 255, 0.5),
    0 0 2rem #6bb9d8,
    inset 0 0 1rem #0fa1da81,
    0 0 4rem #8fc1d4,
    inset 0 0 2rem #9ec4d37e;

}

.settings-btn {
    background-image: url("../../images/option.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 25px;
    font: normal normal bold 20px/25px SpaceCrown;
    color: transparent;
    margin: 15px 0;
    position: absolute;
    top: -5px;
    right: 30px;
    text-align: center;
    height: 50px;
    border: none;
    transition: all ease 0.3s;
}

.settings-btn:hover {
    background-image: url("../../images/option-hover.png");
    transform: rotate(25deg);
    transition: all ease 0.3s;
}

.icon-settings:before {
    font-size: 40px;
}

.play-element {
    position: absolute;
    width: 20%;
    height: 70px;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    color: transparent;
    font: normal normal bold 19px/29px SpaceCrown;
    text-align: center;
}

.play-btn {
    width: 100%;
    height: 70px;
    border: none;
    font: normal normal bold 20px/25px SpaceCrown;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    color: transparent;
    background-image: url("../../images/play.png");
    transition: all ease 0.3s;
}

.play-btn:hover {
    background-image: url("../../images/play-hover.png");
    transform: scale(1.1);
    transition: all ease 0.3s;
}

.download-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-download,
.progress-bar {
    display: none;
}

.text-download {
    font-size: 15px;
    color: #0FA0DA;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: white;
    border-radius: 10px;
}

.body-home {
    display: flex;
    height: 78vh;
    margin: 3rem 2rem;
    border-radius: 10px;
    flex-wrap: wrap;
}

.news-list {
    position: relative;
    overflow: auto;
    width: 100%;
}

.news-list::-webkit-scrollbar {
    width: 0;
}

.news-block {
    margin-bottom: 1rem;
    transition: opacity 1s;
    opacity: .6;
}

.news-block:hover {
    transition: opacity 1s;
    opacity: 1;
}

.opacity-1 {
    opacity: 1;
}

.news-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 87px;
    background-color: #292929;
    border-radius: 10px 10px 0px 0px;
    transition: color .2s, filter .2s;
}

.title {
    position: absolute;
    font: normal normal bold 27px/40px SpaceCrown;
    letter-spacing: 0px;
    color: #E1E1E1;
    display: flex;
    position: absolute;
    text-decoration: none;
    max-width: calc(100% - 158px);
    font-weight: 600;
    font-size: 18px;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    overflow: hidden;
    line-height: 25px;
    align-items: center;
    height: 3em;
    transition: color .2s;
}

.date {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #E1E1E1;
    width: 75px;
    text-align: center;
    font-weight: 900;
    font-family: SpaceCrown;
    transition: color .2s;
}

.day {
    font-size: 28px;
    margin-bottom: -10px;
    display: block;
}

.month {
    text-transform: uppercase;
    font-size: 14px;
}

.news-content {
    position: relative;
    width: 100%;
}

.bbWrapper {
    position: relative;
    padding: 20px;
    background-color: #1f1f1f;
    font-family: SpaceCrown;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
}

.news-author {
    text-align: end;
    margin: 0;
    color: #F1F1F1;
}

.news-author span {
    font-style: italic;
}

.info-list {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    background: none;
    display: flex;
    flex-wrap: wrap;
}

.info-item{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

iframe.discord{
    z-index: 2;
    flex: 2;
    margin: 10px;
    border: 1px solid #3FDFE5;
    border-radius: 12px;
    box-shadow:
        0 0 .5rem #ffffff75,
        0 0 2rem #0FA0DA,
        0 0 4rem #0FA0DA;
    overflow: hidden;
 }

 .discord {
    animation-name: discord-c;
    animation-duration: .2s;
    animation-play-state: pause;
    float: left;
    height: 70px;
    width: 250px;
    opacity: .7;
}

.discord:hover {
    height: 400px;
    width: 250px;
    float: left;
    animation-name: discord;
    animation-duration: .2s;
    animation-play-state: pause;
    opacity: 1;
}

.welcome{
    flex: 3;
    width: 100%;
    height: 140px;
    font: normal normal 100 37px/40px SpaceCrown;
    background-image: url("../../images/logotop.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: transparent;
    vertical-align: middle;
    margin-top: -50px;
}

.newscontent iframe{
    position: absolute;
    display: block;
    top: 147px;
    left: 55px;
    width: 92%;
    height: 66%;
    border: none;
    background: transparent;
    z-index: 0;
    animation: Fade ease-in-out 5s forwards;
    opacity: 0;
 }

 .newscontent::before{
    content: "";
    position: absolute;
    display: block;
    top: 132px;
    left: 40px;
    width: 1200px;
    height: 50px;
    background-image: url(../../images/separator-bot.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    z-index: 1;
    transform: rotate(180deg);
    animation: Appear ease-in-out 5s infinite forwards;
    opacity:0;
 }
 
.newscontent::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 85px;
    left: 40px;
    width: 1200px;
    height: 50px;
    background-image: url(../../images/separator-bot.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    z-index: 1;
    animation: Appear ease-in-out 5s infinite;
    opacity:0;
 }
 .server {
    flex: 2;
    margin: 8px;
    position: relative;
    width: auto;
    height: 75px;
    background-image: radial-gradient(rgb(87 208 232 / 50%), transparent);
    box-shadow:
        inset 0 0 1em rgb(87 208 232 / 50%),
        0 0 1em rgb(87 208 232 / 50%);
    border-radius: 10px;
    border: 1px solid rgb(87 208 232 / 50%);
    transition: opacity 1s;
    opacity: 0.8;
    overflow: hidden;
}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 5px;
}

.name {
    position: absolute;
    font: normal normal bold 19px/25px SpaceCrown;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px SpaceCrown;
    color: #E1E1E1;
    transition: all .2s;
    top: 37px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
    text-shadow: 
    0 0 0.25rem transparent,
    0 0 1rem rgba(18, 122, 9, 0.7);
}

.red {
    font: normal normal bold 15px/27px SpaceCrown;
    color: #da0f0f;
    text-shadow:
    0 0 0.25rem transparent,
    0 0 1rem rgba(122, 9, 9, 0.7);
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    border-radius: 10px;
    transition: background-color .2s;
    border: 1px solid #262626;
    background-color: rgba(38, 38, 38, 1);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px SpaceCrown;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    top: -6px;
    left: 41px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
    box-shadow:
        0 0 .25rem rgb(21, 255, 0),
        inset 0 0 .15rem rgba(255, 255, 255, 0.5),
        0 0 1rem #31da0f,
        inset 0 0 0.5rem rgba(32, 218, 15, 0.5),
        0 0 2rem #0fda2a,
        inset 0 0 1rem rgba(32, 218, 15, 0.5);
}

.online.off {
    border: 1px solid #ff0409;
    background-color: rgba(199, 0, 0, 0.7);
    box-shadow:
        0 0 .25rem rgb(255, 0, 0),
        inset 0 0 .15rem rgba(255, 255, 255, 0.5),
        0 0 1rem #da0f0f,
        inset 0 0 0.5rem rgba(218, 15, 15, 0.5),
        0 0 2rem #da0f0f,
        inset 0 0 1rem rgba(218, 15, 15, 0.5);
}

.nombre {
    position:absolute;
    bottom: 5px;
    left: 100px;
}

@keyframes Appear {
    0% {
        opacity:0.7;
    }
    2%{
        opacity: 1;
    }
    47%{
        opacity: 0.9;
    }
    49%{
        opacity: 0.7;
    }
    50%{
        opacity: 1;
    }
    51%{
        opacity: 0.7;
    }
    53%{
        opacity: 0.9;
    }
    98%{
        opacity: 0.7;
    }
    100% {
        opacity:1;
    }
}

@keyframes Fade {
    0% {
        opacity:0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100% {
        opacity:1;
    }
}

@keyframes discord {
    0% {
        height: 70px;
        width: 250px;
        opacity: .7;
    }

    100% {
        height: 400px;
        width: 250px;
        opacity: 1;
    }
}

@keyframes discord-c {
    0% {
        height: 400px;
        width: 250px;
        opacity: 1;
    }

    100% {
        height: 70px;
        width: 250px;
        opacity: .7;
    }
}
